fastapi[standard]
uvicorn
python-multipart
pandas
numpy
scikit-learn
faiss-cpu
PyPDF2
streamlit
openai
plotly
chromadb
sentence-transformers
flask
requests
torch
torchvision
transformers
